@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to left, #deefe7 , #B4BEC9 95%);
}

main {
    background-color: white;
    width: 550px;
    padding: 10px;
    margin: auto;
    height: 670px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #002333; /*parametros do box-shadow: pixels pro lado(primeiro) pixels pra baixo(segundo) espalhamento(tercerio) cor(quarto)*/
}

h1 {
    color: #159a9c;
    text-align: center;
    text-shadow: 1px 1px 2px #0e575abf;
}

h2 {
    color: #002333;
}

p {
    text-align: justify;
}