* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexConteiner{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flexItem{
    background-color: blue;
}



/*
Omg hi aula de flexbox

flexbox é uma maneira que temos no css de aprimorar nosso layout, deixando ele mais flexivel, como o nome já diz. Aplicamos o flexbox em um elemento pai que queremos que os filhos tenham essa flexibilidade, o display flex n afeta o elemento pai e sim seus filhos, como está no código html que temos uma div com class 'flexConteiner' que está sendo aplicado o display flex para afetar seus filhos.

Quando eu aplico o display flex eu abro um leque de possibilidades para poder trabalhar, por exemplo:

flex-direction: column;         faz com que a direção dos elementos sejam em uma coluna de cima pra baixo
flex-direction: row;            faz com que a direção dos elementos sejam em linha da esquerda pra direita
flex-direction: column-reverse; faz com que a direção dos elementos sejam em uma coluna reversa de baixo pra cima
flex-direction: row-reverse;    faz com que a direção dos elementos sejam em uma linha reversa da direita pra esquerda

Só com isso já tenho uma porrada de coisa pra trabalhar, alem disso temos umas propriedades que nos ajudam a posicionar elementos como justify-content e o align-items

justify-content: flex-end;   
justify-content: flex-end;   
justify-content: flex-end;   
justify-content: flex-end;   



*/