@charset "UTF-8";

/*configurações gerais*/

* {
    margin: 0;
    padding: 0;
}
body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-image: linear-gradient(lightgray, rgba(0, 0, 0, 0.666));
}
#oculto { display: none;}
header {
    background-color: rgba(31, 31, 31, 0.918);
    color: white;
}
header h1 {
    text-align: center;
    padding: 20px;
}

#amostra {
    margin: 0;
    display: none;
}
#amostra a {
    display: block;
    text-align: center;
    background-color: rgba(71, 104, 71, 0.273);
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-top: 2px;
    
}
#amostra a:hover {
    text-decoration: underline;
    background-color: rgb(4, 90, 4);
}
#burguer {
    display: block;
    background-color: rgba(30, 27, 27, 0.877);
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#burguer:hover {
    background-color: white;
    color: black;
}

main {
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    padding: 30px;

    margin: 30px auto;
}
main p {
    text-indent: 30px;
    text-align: justify;
    margin-top: 30px;
}

footer {
    background-color: rgba(33, 36, 33, 0.895);
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
}
