body{
    background-color: aquamarine;
    font-family: arial;
    font-size: 20px;
}
h1{
    color: darkblue;
    text-align: center;
    background-color: aqua;
}
h2{
    color: darkred;
    text-align: center;
    font-size: 130%;
}
p{
    text-align: justify;
}