@charset "UTF-8";

/*  aparelho em pé(portrait)  */

body {
    background-image: url(../imagens/13.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}